/* NEXT does not work
@font-face {
  font-family: 'LifeSavers';
  src: url('./fonts/LifeSavers-Bold.woff') format('woff');
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('./fonts/JetBrainsMono-VariableFont_wght.woff') format('woff');
}
 */